{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'web/images/favicon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'web/images/favicon.png' %}" />
    
    <!-- PAGE TITLE HERE -->
    <title>Excel Traders</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- [if lt IE 9]>
        <script src="{% static 'web/js/html5shiv.min.js' %
    }"></script>
        <script src="{% static 'web/js/respond.min.js' %
    }"></script>
	<![endif] -->
    
    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css' %}">
    
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/fontawesome/css/font-awesome.min.css' %}" />

    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/owl.carousel.min.css' %}">

    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/magnific-popup.min.css' %}">
	
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/loader.min.css' %}"> 

    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/flaticon.min.css' %}">	
    
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">

    <!-- Color Theme Change Css -->
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'web/css/skin/skin-1.css' %}">  
	


    <!-- Side Switcher Css-->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/switcher.css' %}">    

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/plugins/revolution/revolution/css/settings.css' %}">
	
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/plugins/revolution/revolution/css/navigation.css' %}">
    
    <!-- Google Fonts -->
    <link href="../../fonts.googleapis.com/cssad13.css'?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">  
	<link href="../../fonts.googleapis.com/cssa3eb.css'?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<body>

    {% include 'web/partials/header.html' %}
    {% block content %}

    {% endblock %}

    {% include 'web/partials/footer.html' %}
    <a href="https://wa.me/917306481304" class="whatsapp" target="blank">
        <img src="{% static 'web/images/whatsapp.png' %}" alt="whatsapp">
    </a>

    
    <script  src="{% static 'web/js/jquery-1.12.4.min.js' %}"></script>
    <script  src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script  src="{% static 'web/js/magnific-popup.min.js' %}"></script>
    <script  src="{% static 'web/js/waypoints.min.js' %}"></script>
    <script  src="{% static 'web/js/counterup.min.js' %}"></script>
    <script  src="{% static 'web/js/waypoints-sticky.min.js' %}"></script>
    <script  src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
    <script  src="{% static 'web/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.owl-filter.js' %}"></script>
    <script  src="{% static 'web/js/stellar.min.js' %}"></script>
    <script  src="{% static 'web/js/custom.js' %}"></script>
    <script  src="{% static 'web/js/shortcode.js' %}"></script>
    <script  src="{% static 'web/js/jquery.bgscroll.js' %}"></script>
    <script src="{% static 'web/js/switcher.js' %}"></script>
    <script  src="{% static 'web/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script  src="{% static 'web/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script  src="{% static 'web/plugins/revolution/revolution/js/extensions/revolution-plugin.js' %}"></script>
    <script  src="{% static 'web/js/rev-script-1.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
    {% block javascript %}{% endblock %}


    <!-- <div class="styleswitcher-inner">
    
        <h6 class="switcher-title">Color Skin</h6>
        <ul class="color-skins">
            <li><a class="theme-skin skin-1" href="indexa39b-2.html?theme=css/skin/skin-1" title="default Theme"></a></li>
            <li><a class="theme-skin skin-2" href="index61e7-2.html?theme=css/skin/skin-2" title="pink Theme"></a></li>
            <li><a class="theme-skin skin-3" href="indexcce5-2.html?theme=css/skin/skin-3" title="sky Theme"></a></li>
            <li><a class="theme-skin skin-4" href="index13f7-2.html?theme=css/skin/skin-4" title="green Theme"></a></li>
            <li><a class="theme-skin skin-5" href="index19a6-2.html?theme=css/skin/skin-5" title="red Theme"></a></li>
            <li><a class="theme-skin skin-6" href="indexfe5c-2.html?theme=css/skin/skin-6" title="orange Theme"></a></li>
            <li><a class="theme-skin skin-7" href="indexab47-2.html?theme=css/skin/skin-7" title="purple Theme"></a></li>
            <li><a class="theme-skin skin-8" href="index5f8d-2.html?theme=css/skin/skin-8" title="blue Theme"></a></li>
        </ul>   
        
    </div>     -->
</div>


</body>

</html>
